In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/employee-performance-and-productivity-data/Extended_Employee_Performance_and_Productivity_Data.csv

In [2]:
#LOAD THE DATA
df=pd.read_csv("/kaggle/input/employee-performance-and-productivity-data/Extended_Employee_Performance_and_Productivity_Data.csv")

In [3]:
df.head()

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False

In [4]:
df.columns

Index(['Employee_ID', 'Department', 'Gender', 'Age', 'Job_Title', 'Hire_Date',
       'Years_At_Company', 'Education_Level', 'Performance_Score',
       'Monthly_Salary', 'Work_Hours_Per_Week', 'Projects_Handled',
       'Overtime_Hours', 'Sick_Days', 'Remote_Work_Frequency', 'Team_Size',
       'Training_Hours', 'Promotions', 'Employee_Satisfaction_Score',
       'Resigned'],
      dtype='object')

In [5]:
df.dtypes

Employee_ID                      int64
Department                      object
Gender                          object
Age                              int64
Job_Title                       object
Hire_Date                       object
Years_At_Company                 int64
Education_Level                 object
Performance_Score                int64
Monthly_Salary                 float64
Work_Hours_Per_Week              int64
Projects_Handled                 int64
Overtime_Hours                   int64
Sick_Days                        int64
Remote_Work_Frequency            int64
Team_Size                        int64
Training_Hours                   int64
Promotions                       int64
Employee_Satisfaction_Score    float64
Resigned                          bool
dtype: object

In [6]:
#CHECK THE CATEGORIES 
categorical_columns=[col for col in df if len(df[col].unique())<=5]
discreet_columns=[col for col in df if len(df[col].unique())>5]

In [7]:
categorical_columns

['Gender',
 'Education_Level',
 'Performance_Score',
 'Remote_Work_Frequency',
 'Promotions',
 'Resigned']

In [8]:
discreet_columns

['Employee_ID',
 'Department',
 'Age',
 'Job_Title',
 'Hire_Date',
 'Years_At_Company',
 'Monthly_Salary',
 'Work_Hours_Per_Week',
 'Projects_Handled',
 'Overtime_Hours',
 'Sick_Days',
 'Team_Size',
 'Training_Hours',
 'Employee_Satisfaction_Score']

In [9]:
df[categorical_columns].head()

,Gender,Education_Level,Performance_Score,Remote_Work_Frequency,Promotions,Resigned
0,Male,High School,5,0,0,False
1,Male,High School,5,100,2,False
2,Male,High School,3,50,0,False
3,Female,Bachelor,2,100,1,False
4,Female,Bachelor,2,100,1,False

In [10]:
df[discreet_columns]

,Employee_ID,Department,Age,Job_Title,Hire_Date,Years_At_Company,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Team_Size,Training_Hours,Employee_Satisfaction_Score
0,1,IT,55,Specialist,2022-01-19 08:03:05.556036,2,6750.0,33,32,22,2,14,66,2.63
1,2,Finance,29,Developer,2024-04-18 08:03:05.556036,0,7500.0,34,34,13,14,12,61,1.72
2,3,Finance,55,Specialist,2015-10-26 08:03:05.556036,8,5850.0,37,27,6,3,10,1,3.17
3,4,Customer Support,48,Analyst,2016-10-22 08:03:05.556036,7,4800.0,52,10,28,12,10,0,1.86
4,5,Engineering,36,Analyst,2021-07-23 08:03:05.556036,3,4800.0,38,11,29,13,15,9,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Finance,27,Technician,2022-12-07 08:03:05.556036,1,4900.0,55,46,5,3,16,48,1.28
99996,99997,IT,36,Consultant,2018-07-24 08:03:05.556036,6,8250.0,39,35,7,0,10,77,3.48
99997,99998,Operations,53,Analyst,2015-11-24 08:03:05.556036,8,4800.0,31,13,6,5,5,87,2.60
99998,99999,HR,22,Consultant,2015-08-03 08:03:05.556036,9,8250.0,35,43,10,1,2,31,3.10
99999,100000,Finance,43,Analyst,2024-03-04 08:03:05.556036,0,4400.0,51,43,27,11,13,45,2.64

In [11]:
df.isnull().sum()

Employee_ID                    0
Department                     0
Gender                         0
Age                            0
Job_Title                      0
Hire_Date                      0
Years_At_Company               0
Education_Level                0
Performance_Score              0
Monthly_Salary                 0
Work_Hours_Per_Week            0
Projects_Handled               0
Overtime_Hours                 0
Sick_Days                      0
Remote_Work_Frequency          0
Team_Size                      0
Training_Hours                 0
Promotions                     0
Employee_Satisfaction_Score    0
Resigned                       0
dtype: int64

In [12]:
df2=df.copy()

In [13]:
#EMPLOYEE ID AND HIRE DATE IS NOT NEEDED. HIRE DATE AND YEARS_AT_COMPANY ARE RELATED. SO WE CAN DROP HIRE DATE
df3=df.drop(columns=['Employee_ID','Hire_Date'])

In [14]:
df3

,Department,Gender,Age,Job_Title,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,IT,Male,55,Specialist,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,Finance,Male,29,Developer,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,Finance,Male,55,Specialist,8,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,Customer Support,Female,48,Analyst,7,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,Engineering,Female,36,Analyst,3,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Finance,Male,27,Technician,1,Bachelor,4,4900.0,55,46,5,3,75,16,48,2,1.28,False
99996,IT,Female,36,Consultant,6,Master,5,8250.0,39,35,7,0,0,10,77,1,3.48,True
99997,Operations,Male,53,Analyst,8,High School,2,4800.0,31,13,6,5,0,5,87,1,2.60,False
99998,HR,Female,22,Consultant,9,High School,5,8250.0,35,43,10,1,75,2,31,1,3.10,False
99999,Finance,Female,43,Analyst,0,PhD,1,4400.0,51,43,27,11,75,13,45,1,2.64,False

In [15]:
from sklearn.compose import ColumnTransformer

In [16]:
#ENCODING CATEGORICAL COLUMNS (STRING) AND STANDARDISING NUMERICAL COLUMNS
categories = df3.select_dtypes(include=['object']).columns
numbers = df3.select_dtypes(exclude=['object','bool']).columns

In [17]:
numbers

Index(['Age', 'Years_At_Company', 'Performance_Score', 'Monthly_Salary',
       'Work_Hours_Per_Week', 'Projects_Handled', 'Overtime_Hours',
       'Sick_Days', 'Remote_Work_Frequency', 'Team_Size', 'Training_Hours',
       'Promotions', 'Employee_Satisfaction_Score'],
      dtype='object')

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
X = df3.drop(columns=["Resigned"])
y=df3['Resigned']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [19]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

transformation = ColumnTransformer(
[
    ("cat",OneHotEncoder(drop="first"),categories),
    ("num",StandardScaler(),numbers)
],remainder="passthrough")

In [20]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder= LabelEncoder()
y_train=lbl_encoder.fit_transform(y_train)

In [21]:
X_train_transformed = transformation.fit_transform(X_train)
X_test_transformed = transformation.transform(X_test)
y_train_transformed = lbl_encoder.fit_transform(y_train)
y_test_transformed = lbl_encoder.transform(y_test)

In [22]:
X_train_transformed

array([[ 0.        ,  0.        ,  0.        , ..., -1.46915603,
        -1.22316613,  0.69176408],
       [ 0.        ,  0.        ,  0.        , ..., -1.29596057,
        -1.22316613, -0.69835826],
       [ 0.        ,  0.        ,  0.        , ..., -1.50379512,
         0.00197554, -0.69835826],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.67846767,
        -1.22316613,  0.75258193],
       [ 0.        ,  1.        ,  0.        , ..., -1.08812602,
        -1.22316613,  0.96978855],
       [ 0.        ,  0.        ,  0.        , ...,  0.33207675,
         0.00197554,  0.96110028]])

In [23]:
# THIS IS EXTREMELY AND IMBALANCED DATA. WE WILL UNDERSAMPLE THE MAJORITY CLASS ( RESIGNED = 0)
from imblearn.under_sampling import RandomUnderSampler
undersampler = RandomUnderSampler(random_state=42)
X_train_resampled,y_train_resampled=undersampler.fit_resample(X_train_transformed,y_train_transformed)

In [24]:
X_train_resampled.shape,y_train_resampled.shape

((16078, 32), (16078,))

In [25]:
# WILL ASSIGN MORE WEIGHT TO RESIGNATION=YES CLASS
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(class_weight={1:4})

In [26]:
rf.fit(X_train_resampled,y_train_resampled)

RandomForestClassifier(class_weight={1: 4})

In [27]:
from sklearn.metrics import accuracy_score
y_pred=rf.predict(X_test_transformed)
accuracy_score(y_pred,y_test_transformed)

0.6446

In [28]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.68      0.90      0.78     13613
           1       0.32      0.10      0.15      6387

    accuracy                           0.64     20000
   macro avg       0.50      0.50      0.46     20000
weighted avg       0.56      0.64      0.58     20000