In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/employee-performance-and-productivity-data/Extended_Employee_Performance_and_Productivity_Data.csv

In [2]:
df=pd.read_csv("/kaggle/input/employee-performance-and-productivity-data/Extended_Employee_Performance_and_Productivity_Data.csv")

In [3]:
df.head()

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False

In [4]:
df.columns

Index(['Employee_ID', 'Department', 'Gender', 'Age', 'Job_Title', 'Hire_Date',
       'Years_At_Company', 'Education_Level', 'Performance_Score',
       'Monthly_Salary', 'Work_Hours_Per_Week', 'Projects_Handled',
       'Overtime_Hours', 'Sick_Days', 'Remote_Work_Frequency', 'Team_Size',
       'Training_Hours', 'Promotions', 'Employee_Satisfaction_Score',
       'Resigned'],
      dtype='object')

In [5]:
df.dtypes

Employee_ID                      int64
Department                      object
Gender                          object
Age                              int64
Job_Title                       object
Hire_Date                       object
Years_At_Company                 int64
Education_Level                 object
Performance_Score                int64
Monthly_Salary                 float64
Work_Hours_Per_Week              int64
Projects_Handled                 int64
Overtime_Hours                   int64
Sick_Days                        int64
Remote_Work_Frequency            int64
Team_Size                        int64
Training_Hours                   int64
Promotions                       int64
Employee_Satisfaction_Score    float64
Resigned                          bool
dtype: object

In [6]:
categorical_columns=[col for col in df if len(df[col].unique())<=5]
discreet_columns=[col for col in df if len(df[col].unique())>5]

In [7]:
categorical_columns

['Gender',
 'Education_Level',
 'Performance_Score',
 'Remote_Work_Frequency',
 'Promotions',
 'Resigned']

In [8]:
discreet_columns

['Employee_ID',
 'Department',
 'Age',
 'Job_Title',
 'Hire_Date',
 'Years_At_Company',
 'Monthly_Salary',
 'Work_Hours_Per_Week',
 'Projects_Handled',
 'Overtime_Hours',
 'Sick_Days',
 'Team_Size',
 'Training_Hours',
 'Employee_Satisfaction_Score']

In [9]:
df[categorical_columns].head()

,Gender,Education_Level,Performance_Score,Remote_Work_Frequency,Promotions,Resigned
0,Male,High School,5,0,0,False
1,Male,High School,5,100,2,False
2,Male,High School,3,50,0,False
3,Female,Bachelor,2,100,1,False
4,Female,Bachelor,2,100,1,False

In [10]:
df[discreet_columns]

,Employee_ID,Department,Age,Job_Title,Hire_Date,Years_At_Company,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Team_Size,Training_Hours,Employee_Satisfaction_Score
0,1,IT,55,Specialist,2022-01-19 08:03:05.556036,2,6750.0,33,32,22,2,14,66,2.63
1,2,Finance,29,Developer,2024-04-18 08:03:05.556036,0,7500.0,34,34,13,14,12,61,1.72
2,3,Finance,55,Specialist,2015-10-26 08:03:05.556036,8,5850.0,37,27,6,3,10,1,3.17
3,4,Customer Support,48,Analyst,2016-10-22 08:03:05.556036,7,4800.0,52,10,28,12,10,0,1.86
4,5,Engineering,36,Analyst,2021-07-23 08:03:05.556036,3,4800.0,38,11,29,13,15,9,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Finance,27,Technician,2022-12-07 08:03:05.556036,1,4900.0,55,46,5,3,16,48,1.28
99996,99997,IT,36,Consultant,2018-07-24 08:03:05.556036,6,8250.0,39,35,7,0,10,77,3.48
99997,99998,Operations,53,Analyst,2015-11-24 08:03:05.556036,8,4800.0,31,13,6,5,5,87,2.60
99998,99999,HR,22,Consultant,2015-08-03 08:03:05.556036,9,8250.0,35,43,10,1,2,31,3.10
99999,100000,Finance,43,Analyst,2024-03-04 08:03:05.556036,0,4400.0,51,43,27,11,13,45,2.64

In [11]:
df.isnull().sum()

Employee_ID                    0
Department                     0
Gender                         0
Age                            0
Job_Title                      0
Hire_Date                      0
Years_At_Company               0
Education_Level                0
Performance_Score              0
Monthly_Salary                 0
Work_Hours_Per_Week            0
Projects_Handled               0
Overtime_Hours                 0
Sick_Days                      0
Remote_Work_Frequency          0
Team_Size                      0
Training_Hours                 0
Promotions                     0
Employee_Satisfaction_Score    0
Resigned                       0
dtype: int64

In [12]:
#EDA

In [13]:
df.columns

Index(['Employee_ID', 'Department', 'Gender', 'Age', 'Job_Title', 'Hire_Date',
       'Years_At_Company', 'Education_Level', 'Performance_Score',
       'Monthly_Salary', 'Work_Hours_Per_Week', 'Projects_Handled',
       'Overtime_Hours', 'Sick_Days', 'Remote_Work_Frequency', 'Team_Size',
       'Training_Hours', 'Promotions', 'Employee_Satisfaction_Score',
       'Resigned'],
      dtype='object')

In [14]:
df2=df.copy()

In [15]:
df3=df.drop(columns=['Employee_ID','Hire_Date'])

In [16]:
df3

,Department,Gender,Age,Job_Title,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,IT,Male,55,Specialist,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,Finance,Male,29,Developer,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,Finance,Male,55,Specialist,8,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,Customer Support,Female,48,Analyst,7,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,Engineering,Female,36,Analyst,3,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Finance,Male,27,Technician,1,Bachelor,4,4900.0,55,46,5,3,75,16,48,2,1.28,False
99996,IT,Female,36,Consultant,6,Master,5,8250.0,39,35,7,0,0,10,77,1,3.48,True
99997,Operations,Male,53,Analyst,8,High School,2,4800.0,31,13,6,5,0,5,87,1,2.60,False
99998,HR,Female,22,Consultant,9,High School,5,8250.0,35,43,10,1,75,2,31,1,3.10,False
99999,Finance,Female,43,Analyst,0,PhD,1,4400.0,51,43,27,11,75,13,45,1,2.64,False

In [17]:
# Group Years at Company to categories
groups=["N","M","S"]
bins= [0,3,6,1000]
df3['Years_At_Company']=pd.cut(df3['Years_At_Company'],bins=bins,labels=groups,right=False)

In [18]:
df3

,Department,Gender,Age,Job_Title,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,IT,Male,55,Specialist,N,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,Finance,Male,29,Developer,N,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,Finance,Male,55,Specialist,S,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,Customer Support,Female,48,Analyst,S,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,Engineering,Female,36,Analyst,M,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Finance,Male,27,Technician,N,Bachelor,4,4900.0,55,46,5,3,75,16,48,2,1.28,False
99996,IT,Female,36,Consultant,S,Master,5,8250.0,39,35,7,0,0,10,77,1,3.48,True
99997,Operations,Male,53,Analyst,S,High School,2,4800.0,31,13,6,5,0,5,87,1,2.60,False
99998,HR,Female,22,Consultant,S,High School,5,8250.0,35,43,10,1,75,2,31,1,3.10,False
99999,Finance,Female,43,Analyst,N,PhD,1,4400.0,51,43,27,11,75,13,45,1,2.64,False

In [19]:
df3.groupby("Job_Title").agg({"Resigned":'count'})

            Resigned
Job_Title
Analyst        14261
Consultant     14210
Developer      14195
Engineer       14217
Manager        14325
Specialist     14507
Technician     14285

In [20]:
df3.drop(columns=['Job_Title'],inplace=True)

In [21]:
df3

,Department,Gender,Age,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,IT,Male,55,N,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,Finance,Male,29,N,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,Finance,Male,55,S,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,Customer Support,Female,48,S,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,Engineering,Female,36,M,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Finance,Male,27,N,Bachelor,4,4900.0,55,46,5,3,75,16,48,2,1.28,False
99996,IT,Female,36,S,Master,5,8250.0,39,35,7,0,0,10,77,1,3.48,True
99997,Operations,Male,53,S,High School,2,4800.0,31,13,6,5,0,5,87,1,2.60,False
99998,HR,Female,22,S,High School,5,8250.0,35,43,10,1,75,2,31,1,3.10,False
99999,Finance,Female,43,N,PhD,1,4400.0,51,43,27,11,75,13,45,1,2.64,False

In [22]:
df3[df3.Resigned==0].groupby("Gender").agg({"Resigned":"count"})

        Resigned
Gender
Female     43185
Male       43224
Other       3581

In [23]:
df3.drop(columns=['Gender'],inplace=True)

In [24]:
df3[df3.Resigned==1].groupby("Department").agg({"Resigned":'count'}).reset_index().sort_values(by='Resigned')

         Department  Resigned
1       Engineering      1057
4                IT      1064
0  Customer Support      1098
8             Sales      1104
7        Operations      1121
3                HR      1125
6         Marketing      1125
5             Legal      1136
2           Finance      1180

In [25]:
df3[df3.Resigned==0].groupby("Department").agg({"Resigned":'count'}).reset_index().sort_values(by='Resigned')

         Department  Resigned
3                HR      9835
1       Engineering      9899
5             Legal      9982
0  Customer Support     10018
8             Sales     10018
2           Finance     10020
7        Operations     10060
4                IT     10067
6         Marketing     10091

In [26]:
df3.groupby("Age").agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

/tmp/ipykernel_17/1578764988.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df3.groupby("Age").agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

    Age  Resigned
29   51       294
30   52       287
10   32       278
20   42       275
19   41       272
31   53       271
38   60       270
6    28       269
4    26       268
25   47       268
17   39       267
26   48       267
15   37       265
24   46       265
36   58       263
7    29       262
13   35       260
34   56       257
9    31       257
22   44       256
27   49       255
3    25       255
21   43       253
14   36       251
5    27       250
33   55       247
35   57       247
32   54       246
28   50       246
18   40       245
12   34       245
23   45       243
2    24       243
8    30       240
11   33       237
0    22       236
37   59       235
1    23       234
16   38       231

In [27]:
groups=["Y","M","S"]
bins= [0,35,50,1000]
df3['Age']=pd.cut(df3['Age'],bins=bins,labels=groups,right=False)

In [28]:
df3

,Department,Age,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,IT,S,N,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,Finance,Y,N,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,Finance,S,S,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,Customer Support,M,S,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,Engineering,M,M,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Finance,Y,N,Bachelor,4,4900.0,55,46,5,3,75,16,48,2,1.28,False
99996,IT,M,S,Master,5,8250.0,39,35,7,0,0,10,77,1,3.48,True
99997,Operations,S,S,High School,2,4800.0,31,13,6,5,0,5,87,1,2.60,False
99998,HR,Y,S,High School,5,8250.0,35,43,10,1,75,2,31,1,3.10,False
99999,Finance,M,N,PhD,1,4400.0,51,43,27,11,75,13,45,1,2.64,False

In [29]:
df3.groupby([df3.Age,df3.Work_Hours_Per_Week]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

/tmp/ipykernel_17/2182264796.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df3.groupby([df3.Age,df3.Work_Hours_Per_Week]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)
/tmp/ipykernel_17/2182264796.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df3.groupby([df3.Age,df3.Work_Hours_Per_Week]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

   Age  Work_Hours_Per_Week  Resigned
49   M                   48       143
56   M                   55       139
55   M                   54       139
53   M                   52       138
32   M                   31       136
..  ..                  ...       ...
90   S                   58        83
12   Y                   42        75
65   S                   33        74
84   S                   52        70
85   S                   53        67

[93 rows x 3 columns]

In [30]:
df3.groupby([df3.Education_Level]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

/tmp/ipykernel_17/3175957048.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df3.groupby([df3.Education_Level]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

  Education_Level  Resigned
0        Bachelor      5003
1     High School      2999
2          Master      1487
3             PhD       521

In [31]:
df3.groupby([df3.Years_At_Company]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

/tmp/ipykernel_17/2819681.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df3.groupby([df3.Years_At_Company]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)
/tmp/ipykernel_17/2819681.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df3.groupby([df3.Years_At_Company]).agg({"Resigned":sum}).reset_index().sort_values(by="Resigned",ascending=False)

  Years_At_Company  Resigned
2                S      3985
0                N      3021
1                M      3004

In [32]:
from sklearn.compose import ColumnTransformer

In [33]:
numerical_df = df3.select_dtypes(include=['number'])
categorical_df = df3.select_dtypes(include=['object','category'])

In [34]:
df3.dtypes

Department                       object
Age                            category
Years_At_Company               category
Education_Level                  object
Performance_Score                 int64
Monthly_Salary                  float64
Work_Hours_Per_Week               int64
Projects_Handled                  int64
Overtime_Hours                    int64
Sick_Days                         int64
Remote_Work_Frequency             int64
Team_Size                         int64
Training_Hours                    int64
Promotions                        int64
Employee_Satisfaction_Score     float64
Resigned                           bool
dtype: object

In [35]:
numerical_df

,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score
0,5,6750.0,33,32,22,2,0,14,66,0,2.63
1,5,7500.0,34,34,13,14,100,12,61,2,1.72
2,3,5850.0,37,27,6,3,50,10,1,0,3.17
3,2,4800.0,52,10,28,12,100,10,0,1,1.86
4,2,4800.0,38,11,29,13,100,15,9,1,1.25
...,...,...,...,...,...,...,...,...,...,...,...
99995,4,4900.0,55,46,5,3,75,16,48,2,1.28
99996,5,8250.0,39,35,7,0,0,10,77,1,3.48
99997,2,4800.0,31,13,6,5,0,5,87,1,2.60
99998,5,8250.0,35,43,10,1,75,2,31,1,3.10
99999,1,4400.0,51,43,27,11,75,13,45,1,2.64

In [36]:
discreet_columns=[col for col in numerical_df if len(numerical_df[col].unique())>5]
categorical_columns=[col for col in numerical_df if len(numerical_df[col].unique())<=5]

In [37]:
discreet_columns

['Monthly_Salary',
 'Work_Hours_Per_Week',
 'Projects_Handled',
 'Overtime_Hours',
 'Sick_Days',
 'Team_Size',
 'Training_Hours',
 'Employee_Satisfaction_Score']

In [38]:
categorical_columns

['Performance_Score', 'Remote_Work_Frequency', 'Promotions']

In [39]:
len(numerical_df.columns)

11

In [40]:
categorical_df

             Department Age Years_At_Company Education_Level
0                    IT   S                N     High School
1               Finance   Y                N     High School
2               Finance   S                S     High School
3      Customer Support   M                S        Bachelor
4           Engineering   M                M        Bachelor
...                 ...  ..              ...             ...
99995           Finance   Y                N        Bachelor
99996                IT   M                S          Master
99997        Operations   S                S     High School
99998                HR   Y                S     High School
99999           Finance   M                N             PhD

[100000 rows x 4 columns]

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
X = df3.drop(columns=["Resigned"])
y=df3['Resigned']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [42]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

transformation = ColumnTransformer(
[
    ("cat",OneHotEncoder(drop="first"),list(categorical_df.columns)),
    ("num",StandardScaler(),list(discreet_columns))
],remainder="passthrough")

In [43]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder= LabelEncoder()
y_train=lbl_encoder.fit_transform(y_train)

In [44]:
X_train_transformed = transformation.fit_transform(X_train)
X_test_transformed = transformation.transform(X_test)
y_train_transformed = lbl_encoder.fit_transform(y_train)
y_test_transformed = lbl_encoder.transform(y_test)

In [45]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_train_resampled,y_train_resampled=smote.fit_resample(X_train_transformed,y_train_transformed)

In [46]:
X_train_resampled.shape,y_train_resampled.shape

((143922, 26), (143922,))

In [47]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(class_weight={1:8,0:1})

In [48]:
rf.fit(X_train_resampled,y_train_resampled)

RandomForestClassifier(class_weight={0: 1, 1: 8})

In [49]:
from sklearn.metrics import accuracy_score
y_pred=rf.predict(X_test_transformed)
accuracy_score(y_pred,y_test_transformed)

0.9013

In [50]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      0.90      0.95     19997
           1       0.00      0.00      0.00         3

    accuracy                           0.90     20000
   macro avg       0.50      0.45      0.47     20000
weighted avg       1.00      0.90      0.95     20000

In [51]:
set(df3['Resigned'])

{False, True}

In [52]:
lbl_encoder.transform([True])

array([1])

In [53]:
set(y_test_transformed)

{0, 1}